<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="text-center">
          Fantasy Hockey Ratings
        </h1>
        <h4 class="text-center">
            Made with ❤️ by Kevin Arindaeng @ DeltaHacks V
        </h4>
        <br/>
        <div class="col-md-7">
          <table id="rating_table" class="display" width="100%"></table>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script>
    <script src="data/data.js"></script>
    <script src="javascripts/script.js"></script>
  </body>
</html>